/* color pallete hehe */
/* #D9A9B6  #402132  #592550  #73306E  #F2E8E4 */

* {
    scroll-behavior: smooth;
    margin: 0;
    /* box-shadow: 0px 0px 0px 1px rgb(60, 255, 0) inset; */
}
body {
    background-color: #d9a9b6;
}

.header {
    background-color: #402132;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    z-index: 999;
    top: 0;
    box-shadow: 0 0 10px rgba(115, 48, 111, 0.75);

    .site-title-container {
        display: flex;
        align-items: center;
        margin: 0 70px;
        gap: 20px;

        .logo {
            width: 50px;
            height: 50px;
        }

        .site-title {
            font-family: "Trebuchet MS", sans-serif;
            font-weight: bold;
            font-size: 25px;
            color: #f2e8e4;
        }
    }

    .menu {
        font-family: "Trebuchet MS", sans-serif;
        display: flex;
        align-items: center;
        gap: 0;

        a {
            text-decoration: none;
            color: #f2e8e4;
            padding: 25px 15px;
            border-radius: 5px;
        }
        .hire-me {
            background-color: #73306e;
            color: #f2e8e4;
        }
        .hire-me:hover {
            background-color: #f2e8e4;
            color: #402132;
            padding: 25px 15px;
            border-radius: 5px;
        }
        a {
            width: 5vw;
            text-align: center;
        }
    }
}

@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        top: 375px;
    }
}

.hero-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90dvh;
    z-index: 2;

    .hero-left,
    .hero-right {
        top: 1dvh;
    }
    .hero-left {
        position: relative;

        .hero-picture {
            max-width: 400px;
            padding: 35px;
        }

        .small-logo {
            position: absolute;
            max-width: 70px;
            top: 0px;
            left: 0px;
            border-radius: 10px;
        }

        .small-logo {
            animation-name: rotateAnimation;
            animation-duration: 5s;
            animation-timing-function: ease-out;
            animation-timeline: scroll(block nearest);
        }
    }

    .hero-right {
        position: relative;
        width: auto;

        .hero-heading {
            font-family: "Trebuchet MS", sans-serif;
            font-size: max(6vw, 50px);

            span {
                color: #73306e;
            }
        }

        .hero-sub-heading,
        .small-text {
            font-family: "Trebuchet MS", sans-serif;
            font-size: max(1vw, 12px);
            padding: 20px 0;
        }

        .hero-btn-container {
            display: flex;
            align-items: center;
            gap: 20px;

            .resume-btn,
            .contact-btn {
                text-decoration: none;
                border-radius: 5px;
                padding: max(2vw, 10px) max(5vw, 40px);
                font-size: 20px;
            }

            .resume-btn {
                font-family: "Trebuchet MS", sans-serif;
                background-color: #73306e;
                border-color: #f2e8e4;
                color: #f2e8e4;
            }
            .resume-btn:hover {
                font-family: "Trebuchet MS", sans-serif;
                background-color: #f2e8e4;
                border-color: #73306e;
                color: #73306e;
                box-shadow: 0 0 25px 5px rgba(115, 48, 111, 0.75);
                transition: 0.3;
            }

            .contact-btn {
                font-family: "Trebuchet MS", sans-serif;
                background-color: #f2e8e4;
                border-color: #73306e;
                color: #73306e;
            }
            .contact-btn:hover {
                box-shadow: 0 0 25px 5px rgba(115, 48, 111, 0.75);
                transition: 0.3;
            }
        }

        .small-text {
            opacity: 60%;
        }
    }
}

@keyframes pan {
    0% {
        background-position: 0 -200px;
    }
    50% {
        background-position: 0 -900px;
    }
    100% {
        background-position: 0 -1300px;
    }
}
@keyframes pan-left {
    0% {
        left: -100%;
    }
    75% {
        left: 15px;
    }
    100% {
        left: 15px;
    }
}

.about-scroll {
    position: relative;
    height: 50px;
}

.about-container {
    display: flex;
    height: 100dvh;
    position: relative;

    /* * {
        box-shadow: 0px 0px 0px 1px rgb(60, 255, 0) inset;
    } */
    .about-bg {
        background-image: url("images/about-me-bg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        height: 100dvh;
        width: 100%;
    }

    .about-bg {
        animation-name: pan;
        animation-duration: ease-in-out;
        animation-duration: 1ms;
        animation-timeline: view();
    }

    .overlay {
        background-color: hsla(305, 55%, 14%, 0.548);
        position: absolute;
        height: 100%;
        width: 100%;
    }
    .about-me {
        z-index: 1;
    }
    .about-heading {
        font-family: "M PLUS Rounded 1c", serif;
        text-align: center;
        font-size: max(6vw, 50px);
        color: white;
        padding: 25px;
    }
    .asub-text {
        display: flex;
        flex-direction: row;
        font-size: 20px;
    }

    display: flex;
    justify-content: center;

    .atxt-left {
        font-family: "M PLUS Rounded 1c", serif;
        background-color: #4021325b;
        color: #f2e8e4;
        border-radius: 10px;
        position: relative;
        max-width: clamp(300px, 500px, 500px);
        max-height: max;
        box-shadow: 0 0 5px 1px #f2e8e4;
        padding: 30px;
    }

    .atxt-left {
        animation-name: pan-left;
        animation-duration: 1ms;
        animation-timeline: scroll();
    }
}

.footer {
    box-shadow: 0 0 10px rgba(115, 48, 111, 0.75);
    bottom: -55px;
    z-index: 2;
    position: sticky;
    background: #402132;
    color: #f2e8e4;
    text-align: center;
}
.footer-container {
    background-color: #402132;
    color: #f2e8e4;
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px 0 10px 0;
}

.footer-content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
    padding: 5px;
    .phone,
    .mail {
        font-size: 1rem;
    }
}

.footer-bottom {
    display: flex;
    justify-content: center;
    border-top: 1px solid #f2e8e4;
    align-items: center;
    padding-top: 5px;
    gap: 15px;
}
.f-text {
    padding: 3px 0 10px 0;
    font-size: 14px;
    text-align: right;
}

.f-icon {
    display: flex;
    text-decoration: none;
    color: #f2e8e4;
    font-size: 1.5rem;
    gap: 10px;
    a {
        color: #f2e8e4;
    }
}

.burger-menu,
.sub-buttons {
    display: none;
}
